@using MvcStok.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                @*Satır açıldı*@
                <th>@ktgr.MUSTERIID</th>  @*Tablo verisi*@  @*td değilde th olursa verilerde kalın gelir*@
                <td>@ktgr.MUSTERIAD</td>
                <td>@ktgr.MUSTERISOYAD</td>
                <td><a href="/MUSTERI/SIL/@ktgr.MUSTERIID" class="btn btn-danger">SİL</a></td>
                <td><a href="/MUSTERI/GUNCELLE/@ktgr.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>

            </tr>
        }
    </tbody>
</table>
<a href="/MUSTERI/YeniMusteri/" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a>